## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100), k = 80)
print(sample_list_1)
len(sample_list_1)

[13, 89, 21, 35, 24, 96, 37, 5, 45, 28, 46, 80, 82, 99, 72, 42, 16, 27, 9, 65, 84, 14, 74, 47, 15, 4, 75, 71, 12, 91, 98, 39, 68, 25, 93, 87, 7, 94, 36, 60, 30, 53, 52, 26, 8, 86, 63, 2, 20, 19, 41, 58, 32, 62, 22, 49, 95, 43, 1, 11, 50, 92, 34, 55, 83, 81, 97, 88, 64, 56, 44, 77, 79, 23, 73, 85, 51, 61, 6, 33]

80

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
## Lenght is still 80 as the values in sample_list_1 are unique
set1 = set(sample_list_1)
print(set1)
len(set1)

{1, 2, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 39, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 58, 60, 61, 62, 63, 64, 65, 68, 71, 72, 73, 74, 75, 77, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99}

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here

sample_list_2 = []
for x in range(80):
    sample_list_2.append(random.randint(0, 100))
print(sample_list_2)

[9, 26, 25, 72, 64, 69, 69, 23, 47, 37, 18, 95, 56, 30, 53, 84, 63, 0, 2, 89, 86, 0, 90, 7, 35, 55, 69, 9, 25, 4, 87, 87, 65, 86, 27, 56, 49, 56, 2, 36, 13, 98, 29, 74, 3, 45, 40, 44, 98, 44, 28, 26, 81, 29, 82, 10, 26, 55, 85, 2, 67, 34, 31, 65, 78, 9, 31, 6, 19, 29, 17, 56, 92, 78, 64, 31, 43, 20, 72, 64]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
## Lenght is different than 80 as the values in sample_list_2 are not unique and sets do not allow for duplicate values
set2 = set(sample_list_2)
len(set2)

53

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1.difference(set2)
print(set3)

{1, 5, 8, 11, 12, 14, 15, 16, 21, 22, 24, 32, 33, 39, 41, 42, 46, 50, 51, 52, 58, 60, 61, 62, 68, 71, 73, 75, 77, 79, 80, 83, 88, 91, 93, 94, 96, 97, 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{0, 3, 67, 69, 40, 10, 78, 17, 18, 90, 29, 31}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{2, 4, 6, 7, 9, 13, 19, 20, 23, 25, 26, 27, 28, 30, 34, 35, 36, 37, 43, 44, 45, 47, 49, 53, 55, 56, 63, 64, 65, 72, 74, 81, 82, 84, 85, 86, 87, 89, 92, 95, 98}

#### 8 - Create an empty set called `set6`.

In [9]:
# Your code here
set6 = set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 27, 28, 29, 30, 31, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 50, 52, 53, 55, 56, 57, 59, 60, 62, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 77, 78, 79, 82, 84, 85, 86, 87, 88, 90, 91, 93, 94, 95, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [10]:
# Your code here
set1 == set6

False

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [11]:
# Your code here
set2.issubset(set1)

False

In [12]:
set3.issubset(set1)

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [13]:
# Your code here
set_a = set3.union(set4, set5)
set_b = set1.union(set2)
set_a == set_b

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [14]:
# Your code here
## The elements of a set are not indexed, therefore you cannot control wchich element to pop

In [15]:
#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [16]:
# Your code here
# iterate list over set and remove matching items; print resulting list
for x in list_to_remove:
  for y in set1:
    if x == y:
      list_to_remove.remove(x)
    else:
      continue

print(list_to_remove)

[9, 19, 29, 31, 41, 51, 59, 69, 79, 89, 99]

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [17]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [18]:
# Your code here
father_set = set(father_list)
mother_set = set(mother_list)
Jo_set = set(Jo_list)
Carlos_set = set(Carlos_list)
Mattia_set = set(Mattia_list)

print(father_set)
print(mother_set)
print(Jo_set)
print(Carlos_set)
print(Mattia_set)

{'flour', 'toilet paper', 'watermelon', 'yogurt', 'onions', 'gums', 'garlic', 'cucumber'}
set()
{'tomatoes', 'juice', 'watermelon', 'yogurt', 'onions', 'gums', 'garlic', 'cucumber', 'milk', 'sugar', 'blueberries'}
{'tomatoes', 'flour', 'toilet paper', 'onions', 'water', 'cherries', 'garlic', 'blueberries'}
set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [19]:
# Your code here
Mattia_set = Carlos_set.symmetric_difference(Jo_set)
Mattia_set

{'cherries',
 'cucumber',
 'flour',
 'gums',
 'juice',
 'milk',
 'sugar',
 'toilet paper',
 'water',
 'watermelon',
 'yogurt'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [20]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['milk', 'watermelon', 'garlic', 'shampoo', 'onions', 'watermelon', 'milk', 'vinegar', 'toilet paper', 'mushrooms']

In [21]:
# Your code here
mother_set = set(mother_list)
mother_set

{'garlic',
 'milk',
 'mushrooms',
 'onions',
 'shampoo',
 'toilet paper',
 'vinegar',
 'watermelon'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [67]:
# Your code here

fam_set = list([father_set, mother_set, Jo_set, Carlos_set, Mattia_set])
fam_set

[{'cucumber',
  'flour',
  'garlic',
  'gums',
  'onions',
  'toilet paper',
  'watermelon',
  'yogurt'},
 {'garlic',
  'milk',
  'mushrooms',
  'onions',
  'shampoo',
  'toilet paper',
  'vinegar',
  'watermelon'},
 {'blueberries',
  'cucumber',
  'garlic',
  'gums',
  'juice',
  'milk',
  'onions',
  'sugar',
  'tomatoes',
  'watermelon',
  'yogurt'},
 {'blueberries',
  'cherries',
  'flour',
  'garlic',
  'onions',
  'toilet paper',
  'tomatoes',
  'water'},
 {'cherries',
  'cucumber',
  'flour',
  'gums',
  'juice',
  'milk',
  'sugar',
  'toilet paper',
  'water',
  'watermelon',
  'yogurt'}]

In [69]:
for grocery in fam_set:
    # if grocery == 'toilet paper':
    grocery.discard('toilet paper')

In [70]:
fam_set

[{'cucumber', 'flour', 'garlic', 'gums', 'onions', 'watermelon', 'yogurt'},
 {'garlic', 'milk', 'mushrooms', 'onions', 'shampoo', 'vinegar', 'watermelon'},
 {'blueberries',
  'cucumber',
  'garlic',
  'gums',
  'juice',
  'milk',
  'onions',
  'sugar',
  'tomatoes',
  'watermelon',
  'yogurt'},
 {'blueberries', 'cherries', 'flour', 'garlic', 'onions', 'tomatoes', 'water'},
 {'cherries',
  'cucumber',
  'flour',
  'gums',
  'juice',
  'milk',
  'sugar',
  'water',
  'watermelon',
  'yogurt'}]

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [83]:
# Your code here
final_groceries = set().union(*fam_set)

In [84]:
final_groceries

{'blueberries',
 'cherries',
 'cucumber',
 'flour',
 'garlic',
 'gums',
 'juice',
 'milk',
 'mushrooms',
 'onions',
 'shampoo',
 'sugar',
 'tomatoes',
 'vinegar',
 'water',
 'watermelon',
 'yogurt'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [85]:
# Your code here

print(final_groceries.pop())
print(final_groceries.pop())
print(final_groceries.pop())
print(final_groceries.pop())
print(final_groceries.pop())

onions
water
mushrooms
garlic
vinegar